<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To-do List Form</h1>
    <form action="submit" method="post">
        <label>First Name: <input name="fname" type="text"></label>
        <label>Last Name: <input name="lname" type="text"></label>
        <label>Task: <input name="task" type="text"></label>
        <label>Start Date: <input name="startdate" type="date"></label>
        <label>End Date: <input name="enddate" type="date"></label>
        <label>Description: <textarea></textarea></label>
        <label>Urgent?</label>
        <input type="radio" name="urgency" value="Yes"> Yes
        <input type="radio" name="urgency" value="No"> No
        <button type="submit">Submit</button>
    </form>
</body>
</html>