<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="icon" type="images/GreenCheckmark.ico" href="images/GreenCheckmark.ico">

    <script src="scripts/client-validation.js" defer></script>
</head>
<body>

    <div id="main">                                                             <!-- Start Of Main Div -->
        
        <form action="thank-you" method="post" id="home">                         <!-- Start of Form -->


            <!--H1 Tag-->
            <h1>To-do List Form</h1>
            <!-- End H1 Tag-->


            <!-- First Name Section -->
            <label>First Name: <input name="fname" type="text" id="fname"></label>

            <span class="err" id="err-fname">First name is required</span>
            <!-- End First Name Section --> 


            <!-- Last Name Section -->
            <label>Last Name: <input name="lname" type="text" id="lname"></label>

            <span class="err" id="err-lname">Last name is required</span>
            <!-- End Last Name Section -->


            <!-- Task Section -->
            <label>Task: <input name="task" type="text" id="task"></label>

            <span class="err" id="err-task">Task title is required</span>
            <!-- End Task Section -->

            <!-- Start Day of Week Section -->
            <label>Day Assigned:</label>
            
            <select name="assignedday" id="day">
                <option value="none">-- Select an Option --</option>
                <option value="sunday">Sunday</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
            </select>

            <span class="err" id="err-day">Please select a vaild Option</span>
            <!-- End Day of Week Section -->

            <!-- Start of Task Length -->
            <label>Task Length (Days):<input type="number" name="tasklength" id="length" min="0"></label>

            <span class="err" id="err-length">Please select a vaild number</span>
            <!-- Start of Task Length -->


            <!-- Description Section -->
            <label>Description: <textarea name="description" id="description"></textarea></label>
            <!-- End Description Section -->


            <!-- Urgencey Section -->
            <label>Urgent?</label>
            <input type="radio" name="urgency" value="Yes"> Yes
            <input type="radio" name="urgency" value="No"> No


            <span class="err" id="err-urgency">Please select one of the urgency options</span>
            <!-- End Urgencey Section -->


            <!-- Submit button -->
            <button type="submit">Submit</button>
            <!-- End Submit button -->

            
        </form>                                                          <!-- End of Form -->        
        <form action="calendar" method="get" id="calendar">
            <button href="#" role="button"> View Calendar page </button>
        </form>

    </div>                                                             <!-- End Of Main Div -->
   
</body>
</html>