.err {
    display: none;
    color: firebrick;
}

#main,
#home {
    display: flex;
}

#home {
    background-color: gainsboro;
}

/*Large screen styles*/
@media (min-width: 721px) {
    #main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        border: 2px, solid, black;
        padding: 5%;
        width: 30%;
    }

    label,
    span {
        margin: 2%;
    }
}


/*Mobile and medium screen styles*/
@media (max-width: 720px) {
    #main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        border: 2px, solid, black;
        padding: 5%;
    }

    label,
    span {
        margin: 1%;
    }

}