/*Main styles*/
html {
    background-color: lightcyan;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

button {
    color: aliceblue;
    background-color: darkolivegreen;
}

button {
    margin: 1%;
}

.admin-styles
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-backer
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 38px;
}

.admin-page
{
    text-align: center;
}

body
{
    text-align: center;
}

@media (max-width: 768px)
{
    .admin-styles
    {
        flex-direction: column;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .admin-backer
    {
        width: 90%;
    }
}